Source: mkr
Section: admin
Priority: extra
Maintainer: Hatena
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: https://mackerel.io

Package: mkr
Architecture: all
Description: mackerel.io api client tool
