#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

package=mkr

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_install:
	dh_auto_install
	install -d -m 755 debian/${package}/usr/local/bin/
	install    -m 655 debian/${package}.bin debian/${package}/usr/local/bin/${package}

override_dh_usrlocal:
